<div class="testimonials paralax-mf bg-image" style="background-image: url(/assets/img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="testimonial-mf" class="owl-carousel owl-theme">
          <div class="testimonial-box">
            <div class="author-test">
              <img src="/assets/img/avatar4.jpg" alt="" class="rounded-circle b-shadow-a" style="height:200px">
              <span class="author">Adrian Moraru</span>
            </div>
            <div class="content-test">
              <p class="description lead">
                Seasoned software developer with over ten years of experience in full-stack web development and systems architecture.
              </p>
              <!--<span class="comit"><i class="fa fa-quote-right"></i></span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
