<footer class="bg-gray text-light footer-long">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <img alt="Logo" src="/assets/img/hostero_logo_white_small.png" class="mb-4" height="85" />
        <p class="text-muted">
          &copy; 2019 Hostero
        </p>
      </div>

      <div class="col-12 col-md-9">
        <span class="h5">Mining software for CPU mineable cryptocurrencies</span>
        <!--<span class="h6">"Use Your Electricity For More Than Light." (Sears catalog, Spring 1917, p. 856.)</span>-->
        <div class="row no-gutters">
          <div class="col-6 col-lg-3">
            <h6>Navigate</h6>
            <ul class="list-unstyled">
              <li>
                <a href="/pricing">Pricing</a>
              </li>
              <li>
                <a href="/getting-started">Getting Started</a>
              </li>
              <li>
                <a href="/docs/install-on-ubuntu">Install on Ubuntu</a>
              </li>
              <li>
                <a href="/changelog">Changelog</a>
              </li>
              <li>
                <a href="/tools">Tools</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-lg-3">
            <h6>Platform</h6>
            <ul class="list-unstyled">
              <li>
                <a href="https://dashboard.hostero.eu">Dashboard</a>
              </li>
              <li>
                <a href="https://bootstrap.hostero.eu">Bootstrap</a>
              </li>
              <li>
                <a href="https://staking.hostero.eu">Staking</a>
              </li>
              <li>
                <a href="/cpu-miner">CPU Miner</a>
              </li>
              <li>
                <a href="/cpu-mineable-coins">CPU Mineable Coins</a>
              </li>
              <li>
                <a href="https://status.hostero.eu" target="_blank">Service Status</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-lg-3">
            <h6>Community</h6>
            <ul class="list-unstyled">
              <li>
                <a href="https://t.me/hosteroeu" target="_blank">Telegram</a>
              </li>
              <li>
                <a href="https://twitter.com/hosteroeu" target="_blank">Twitter</a>
              </li>
              <li>
                <a href="https://www.facebook.com/hostero" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/hostero" target="_blank">Linkedin</a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UC14WmOUaq09kGxzKtdgNVKA" target="_blank">Youtube</a>
              </li>
              <li>
                <a href="https://bitcointalk.org/index.php?topic=5126188" target="_blank">BitcoinTalk</a>
              </li>
              <li>
                <a href="https://medium.com/@hostero" target="_blank">Medium</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-lg-3">
            <h6>Company</h6>
            <ul class="list-unstyled">
              <li>
                <a href="mailto:hello@hostero.eu">Contact</a>
              </li>
              <li>
                <a href="https://blog.hostero.eu" target="_blank">Blog</a>
              </li>
              <li>
                <a href="/assets/hostero-press.zip">Press Kit</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
