<section id="work" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Portfolio
          </h3>
          <p class="subtitle-a">
            List with most notable personal projects.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/personal-finance-1.png" data-lightbox="gallery-mf">
          <div class="work-img">
            <img src="/assets/img/personal-finance-1.png" alt="" class="img-fluid">
          </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Personal Finance</h2>
                <div class="w-more">
                  <span class="w-ctegory">Software Development</span> / <span class="w-date">Feb. 2020</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://personal-finance.morion4000.com" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/javascript-blockchain-2.png" data-lightbox="gallery-mf">
          <div class="work-img">
            <img src="/assets/img/javascript-blockchain-2.png" alt="" class="img-fluid">
          </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Javascript Blockchain</h2>
                <div class="w-more">
                  <span class="w-ctegory">Software Development</span> / <span class="w-date">Jan. 2020</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://github.com/morion4000/javascript-blockchain" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/emint-1.png" data-lightbox="gallery-mf">
          <div class="work-img">
            <img src="/assets/img/emint-1.png" alt="" class="img-fluid">
          </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Emint</h2>
                <div class="w-more">
                  <span class="w-ctegory">Product Development</span> / <span class="w-date">Jan. 2020</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://www.emint.io" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/webdollar-1.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="/assets/img/webdollar-1.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">WebDollar Tools</h2>
                <div class="w-more">
                  <span class="w-ctegory">Software Development</span> / <span class="w-date">Feb. 2019</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://www.hostero.eu/tools" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/ico-smart-contracts-1.png" data-lightbox="gallery-mf">
          <div class="work-img">
            <img src="/assets/img/ico-smart-contracts-1.png" alt="" class="img-fluid">
          </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">ICO Smart Contracts</h2>
                <div class="w-more">
                  <span class="w-ctegory">Software Development</span> / <span class="w-date">Aug. 2018</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://github.com/morion4000/truffle-crowdsale" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/webdollarminingpool-1.png" data-lightbox="gallery-mf">
          <div class="work-img">
            <img src="/assets/img/webdollarminingpool-1.png" alt="" class="img-fluid">
          </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">WebDollar Mining Pool</h2>
                <div class="w-more">
                  <span class="w-ctegory">Product Development</span> / <span class="w-date">Jun. 2018</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://www.webdollarminingpool.com" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/hostero-2.png" data-lightbox="gallery-mf">
          <div class="work-img">
            <img src="/assets/img/hostero-2.png" alt="" class="img-fluid">
          </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Hostero</h2>
                <div class="w-more">
                  <span class="w-ctegory">Product Development</span> / <span class="w-date">May 2018</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://www.hostero.eu" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/molamp-1.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="/assets/img/molamp-1.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Molamp</h2>
                <div class="w-more">
                  <span class="w-ctegory">Product Development</span> / <span class="w-date">Feb. 2016</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://www.molamp.net" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/ophion-1.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="/assets/img/ophion-1.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Ophion</h2>
                <div class="w-more">
                  <span class="w-ctegory">Software Development</span> / <span class="w-date">Apr. 2014</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://github.com/morion4000/ophion" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/titanium-image-gallery-1.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="/assets/img/titanium-image-gallery-1.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Titanium Image Gallery</h2>
                <div class="w-more">
                  <span class="w-ctegory">Software Development</span> / <span class="w-date">May 2011</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://github.com/codeboxed/Titanium-Image-Gallery" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="/assets/img/swargame-1.jpg" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="/assets/img/swargame-1.jpg" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">SwarGame</h2>
                <div class="w-more">
                  <span class="w-ctegory">Software Development</span> / <span class="w-date">Aug. 2007</span>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="https://ro.wikipedia.org/wiki/Swargame" target="_blank">
                  <div class="w-like">
                    <span class="ion-log-in"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
