<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Services
          </h3>
          <p class="subtitle-a">
            My experience is strongly based (not limited to) on full stack web development.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-code-working"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Development</h2>
            <p class="s-description text-center">
              Full stack web applications, dashboards, tools, APIs, bots, and automation scripts.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-monitor"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">DevOps</h2>
            <p class="s-description text-center">
              Cloud computing, microservices, virtualisation and containerisation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-link"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Blockchain</h2>
            <p class="s-description text-center">
              Ethereum (Solidity), smart contracts, Web3 stack, infrastructure, and DeFi.
            </p>
          </div>
        </div>
      </div>
      <!--
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Product Development</h2>
            <p class="s-description text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
              provident vitae! Magni
              tempora perferendis eum non provident.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Maintenance</h2>
            <p class="s-description text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
              provident vitae! Magni
              tempora perferendis eum non provident.
            </p>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
