<!doctype html>
<html lang="en">

<head>
  {{> partials/head }}
</head>

<body>
  <div class="main-container">
    <section class="height-100 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <i class="icon-compass display-4"></i>
            <h1 class="h2">Uhoh, page not found (404)</h1>
            <span>The page you requested couldn't be found. <a href="/" class="text-white">Go back home</a> or <a href="mailto:morion4000@gmail.com" class="text-white">Contact us</a> if you think this might be a mistake.</span>
          </div>
        </div>
      </div>
    </section>
  </div>

  {{> partials/scripts }}
</body>

</html>
